.navbar-nav{
	text-align: center;
}
nav{
	background-color:#ccccee !important;
}
#navbar-button {
	text-align: center;
}
h1{
	text-align: center;
}
ul{
	clear: right;
}
/*#navbar-button.in , .collapsing{
	clear: left;

}*/
.navbar-toggle
{
	margin-top: -38px;
}
button{
	margin-top: 30px;
}
.col-xs-12{
/*	padding: 10px;*/
	background-color: #eeeecc;
	height: 1001px;
}